.Clubs {

    
    .hero__subpage {
        background-attachment: fixed;
        background-position: bottom;
        height: 50vh;

    }

    .card__club {
        margin: 1rem 0 1rem 0;
        padding: 0 0 0 0;
        border: 2px solid transparent;
        box-shadow: 0 0 1rem rgba(0, 0, 0, .1);
        transition: .3s all ease;


        &:hover {
            box-shadow: 0 0 1.5rem rgba(0, 0, 0, .2);
            transition: .3s all ease;
        }


        .text-red {
            color: var(--red) !important;
        }

        .card-title {
            font-size: .875em;
            font-weight: 700;
            color: var(--primary);
            text-transform: uppercase;
        }

        .card-text {
            font-size: 1.125em;
            font-weight: 400;
            color: var(--dark-primary);
            font-family: 'Inter Tight';
        }

        .card-img-top {
            height: 15rem;
            object-fit: cover;
            object-position: center;
            width: auto !important;
        }

    }
}

.card__club__recommendation {
    border-color: var(--red) !important;
}